@using JoyCase.App.Models.CategoryModel
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container mt-4">
    <h2 class="text-center">Kategoriler</h2>
   @*  <div class="text-end mb-3">
        <a class="btn btn-success" asp-controller="Category" asp-action="Create">Yeni Kategori Oluştur</a>
    </div> *@
    <ul class="list-group">
        @foreach (var category in ((ViewBag.Categories as List<GetCategoryResponseModel>)))
        {
            <li class="list-group-item">
                @category.FullPath
                @if (category.ParentId == null)
                {
                    // Eğer bu kategori üst kategoriyse, alt kategorileri de göster
                    var subCategories = ((IEnumerable<GetCategoryResponseModel>)ViewBag.Categories)
                    .Where(c => c.ParentId == category.Id);
                    if (subCategories.Any())
                    {
                        <ul class="list-group mt-2 ms-3">
                            @foreach (var subCategory in subCategories)
                            {
                                <li class="list-group-item">@subCategory.FullPath</li>
                            }
                        </ul>
                    }
                }
            </li>
        }
    </ul>
</section>
