@using JoyCase.App.Models.UserModel
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Şifre Sıfırlama";
}

<h2 class="text-center">Şifre Sıfırlama</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Şifre Sıfırla</button>
</form>
